:root {
  --border-radius: 2px;
}

#addRemoveQty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 156px;
}

button {
  padding: 8px 16px;
  background-color: darkgoldenrod;
  cursor: pointer;
  border-radius: var(--border-radius);
  border-style: none;
}
#buyNow {
  padding: 16px 24px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background-color: darkolivegreen;
}
/* helper classes  */
.sr-only {
  display: none;
}
